<div class="container">
    <div class="row">
        <div class="col-4 m-auto border border-light mt-5 rounded p-3">
            <form action="" [formGroup]="postForm" (ngSubmit)="handleSubmit()">
                <h1 class="col-12 text-center">Post</h1>
                <hr>
                <div class="row gy-4 my-4">
                    <div class="col-12">
                        <input type="text" placeholder="Title" (input)="errorMsg = false" class="form-control"
                            formControlName="title" [(ngModel)]="singlePost.title">
                        <div class="text-danger" *ngIf="postData?.title?.invalid ">
                            <div *ngIf="postData?.title?.errors?.['required']">
                                Title is required
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <textarea type="text" placeholder="Content" (input)="errorMsg = false" class="form-control"
                            formControlName="content" [(ngModel)]="singlePost.content">
                                </textarea>

                        <div class="text-danger" *ngIf="postData?.content?.invalid ">
                            <div *ngIf="postData?.content?.errors?.['required']">
                                Content is required
                            </div>
                        </div>
                    </div>
                    <div class="col-12 d-flex justify-content-end">
                        <button class="btn btn-dark border border-white rounded">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>