<div class="container">
    <div class="row gy-4">
        <div class="m-auto mt-5">
            <div class="card bg-dark mt-4 border border-light rounded text-center  p-5">
                <h4 class="card-title">{{singlePost?.data?.title}}</h4>
                <h5><i class="fa fa-user p-1"></i> {{user?.data?.name?.firstName}} {{user?.data?.name?.lastName}}</h5>
                <h6><i class="fa-solid fa-clock"></i> {{singlePost?.data?.createdAt | date:'medium' }}</h6>
                <div class="card-body">
                    {{singlePost?.data?.content}}
                </div>
            </div>
        </div>
        <h4><i class="fa-solid fa-comment"></i> Comments: </h4>
        <div *ngFor="let comment of comments?.data">
            <div class="border p-3 rounded-pill" *ngIf="edit==false">
                
                <div class="d-flex justify-content-end" *ngIf="comment?.userId== global?.UserData?._id">
                    <button class=" btn btn-dark" (click)="deleteComment(comment._id)"><i
                            class="fa-solid fa-trash-can"></i></button>
                    <button class=" btn btn-dark" (click)="editComment(comment.content)"><i
                            class="fa-solid fa-pen"></i></button>
                </div>
                <i class="fa-solid fa-clock"></i> {{comment?.updatedAt | date:'medium' }}
                <div class="fw-bolder mx-5"> {{comment?.content}}
                </div>
            </div>
            <div *ngIf="edit==true">
                <div class="col-12">
                    <form action="" (ngSubmit)="handleEditSubmit(comment._id, content)">
                        <textarea type="text" [(ngModel)]="commentModel" name="content" class="form-control"
                            #content="ngModel"></textarea>
                        <button class="btn btn-dark border border-white rounded mt-3 mb-5">Submit</button>
                    </form>
                </div>
            </div>

        </div>

        <div class="col-12">
            <form action="" [formGroup]="commentForm" (ngSubmit)="handleSubmit()">
                <textarea type="text" placeholder="Comment" class="form-control" formControlName="content"></textarea>
                <button class="btn btn-dark border border-white rounded mt-3 mb-5">Submit</button>
            </form>
        </div>
    </div>
</div>